@import "../../global/vars";
.advantages-list {
  list-style: none;
  padding: 0;
}

.advantages-list__item {
  font-family: $arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
  color: #444;
  padding-left: 80px;
  position: relative;
  min-height: 60px;
}

.advantages-list__item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-color: $green;
  background-position: center;
}

.advantages-list__item--useful::before {
  background-image: url(../img/raster/advantage-leaf@1x.png);

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url(../img/raster/advantage-leaf@2x.png);
  }
}

.advantages-list__item--drink::before {
  background-image: url(../img/raster/advantage-powder@1x.png);

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url(../img/raster/advantage-powder@2x.png);
  }
}

.advantages-list__item--food::before {
  background-image: url(../img/raster/advantage-dining@1x.png);

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url(../img/raster/advantage-dining@2x.png);
  }
}

.advantages-list__item--time::before {
  background-image: url(../img/raster/advantage-clock@1x.png);

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url(../img/raster/advantage-clock@2x.png);
  }
}

@media (min-width: $tablet) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .advantages-list__item {
    font-size: 16px;
    line-height: 24px;
    width: 250px;
    margin-right: 120px;
    padding-top: 90px;
    padding-left: 0;
    margin-bottom: 135px;
    counter-increment: my-awesome-counter;
    display: flex;
    position: relative;
    z-index: 6;
  }

  .advantages-list__item::before {
    width: 80px;
    height: 80px;
  }

  .advantages-list__item::after {
    content: counter(my-awesome-counter);
    font-family: $oswald;
    font-size: 281px;
    color: $grey;
    position: absolute;
    margin-left: 110px;
    z-index: -1;
  }
}
