@import "../../global/vars";
.example__wrapper {
  background-color: $grey;
  padding: 35px 20px;
}

.example__title {
  font-size: 36px;
  line-height: 60px;
  margin-bottom: 35px;
}

.example__description {
  margin: 0;
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: #444;
  margin-bottom: 25px;
}