@import "../../global/vars";
.example__wrapper {
  background-color: $grey;
  padding: 35px 20px;
}

.example__title {
  font-size: 36px;
  line-height: 60px;
  margin-bottom: 35px;
}

.example__description {
  margin: 0;
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: #444;
  margin-bottom: 25px;
}

.example__expenses {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example__expenses br {
  display: none;
}

.example__list {
  margin-bottom: 40px;
}

.example__sliders {
  position: relative;
  margin: auto;
  width: 320px;
  height: 240px;
}

.example__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.example__slide img {
  max-width: inherit;
}

.example__slide--after {
  display: flex;
  justify-content: flex-end;
  width: 0;
  right: 0;
}

@media (min-width: $tablet) {
  .example__wrapper {
    background-color: $white;
  }

  .example__controls {
    background-color: $grey;
    height: 460px;
    position: relative;
  }

  .example__title {
    font-size: 60px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
  }

  .example__expenses br {
    display: block;
  }

  .example__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 170px;
  }

  .example__expenses {
    text-align: right;
    font-size: 20px;
  }

  .example__sliders {
    width: 680px;
    height: 517px;
    position: absolute;
    top: -150px;
    left: 20%;
  }

  .example__slide {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .example__slide--after {
    align-items: flex-end;

    img {
      z-index: 1;
    }
  }

  .example__slide img {
    width: 680px;
    height: 517px;
  }
}
