@import "../../global/vars";

.program-card {
  padding: 25px 35px 25px 20px;
  background-color: $grey;
  position: relative;
}

.program-card__icon {
  background-color: $green;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
  position: absolute;
  content: "";
  top: 23px;
  left: 22px;
}

.program-card__picture--thin {
  width: 37px;
  height: 47px;
  position: absolute;
  content: "";
  top: 1px;
  left: 8px;
}

.program-card__picture--fat {
  width: 70px;
  height: 33px;
  position: absolute;
  content: "";
  top: 8px;
  left: -12px;
}

.program-card__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding-left: 90px;
  display: inline-block;
}

.program-card__description {
  margin: 40px 0;
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
}

.program-card__catalog-link {
  position: relative;

  &:active {
    opacity: 0.3;
  }
}

.program-card__catalog-link--next::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 11px;
  top: 8px;
  right: -35px;
  background-image: url(../img/vector/right-arrow-long.svg);
  background-repeat: no-repeat;

  &:hover {
    width: 30px;
  }
}

@media (min-width: $tablet) {
  .program-card__title {
    font-size: 36px;
    text-align: left;
    padding-left: 50px;
    display: inline-block;
  }

  .program-card__description {
    font-size: 16px;
    line-height: 24px;
    width: 395px;
    padding-left: 50px;
  }

  .program-card__catalog-link {
    font-size: 20px;
    line-height: 20px;
    padding-left: 50px;
  }

  .program-card__icon {
    width: 200px;
    height: 200px;
    left: initial;
    right: 60px;
    top: 85px;
  }

  .program-card__picture--thin {
    width: 140px;
    height: 194px;
    left: 25px;
    top: -15px;
  }

  .program-card__picture--fat {
    width: 268px;
    height: 112px;
    top: 35px;
    left: -40px;
  }

  .program-card {
    padding-top: 85px;
    padding-bottom: 60px;
  }

  .program-card__catalog-link--next::after {
    top: 11px;
    right: -45px;
  }
}

@media (min-width: $desktop) {
  .program-card {
    width: 570px;
    height: 370px;
    margin-right: 80px;
  }

  .program-card:last-child {
    margin-right: 0;
  }

  .program-card__picture--thin {
    width: 70px;
    height: 97px;
    left: 8px;
    top: -7px;
  }

  .program-card__picture--fat {
    width: 134px;
    height: 56px;
    left: -16px;
    top: 25px;
  }

  .program-card__icon {
    width: 100px;
    height: 100px;
    right: initial;
    top: 50px;
    left: 45px;
  }

  .program-card__title {
    padding-left: 180px;
  }

  .program-card__description {
    width: 470px;
  }
}
