@import "../../global/vars";

.range-controls {
  display: flex;
  justify-content: space-between;
  padding: 45px 45px 40px;
}

.range-controls__before,
.range-controls__after {
  line-height: 20px;
  text-transform: uppercase;
}

.range-controls__scale {
  width: 100%;
  border: 1px solid #cdcdcd;
  margin: 0 20px;
  border-radius: 20%;
  background-color: #fff;
}

.range-controls__bar {
  border-radius: 20%;
  width: 45%;
  height: 10px;
  background-color: $green;
  margin: 4px;
}
