.action-present {
  position: relative;
  margin-bottom: 40px; }
  .action-present:before {
    content: "";
    background-color: #63a73a;
    background-image: url("../img/raster/gift-photo-mobile@1x.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 290px;
    background-position: center top;
    position: absolute;
    top: 0;
    left: 0; }

.action-present__description {
  font-family: "Arial", sans-serif;
  line-height: 20px;
  color: #fff;
  position: relative;
  z-index: 1;
  margin: 0;
  text-align: center;
  padding-top: 200px; }
