.card__title {
  line-height: 20px;
  text-transform: uppercase;
  width: 86px;
  margin-bottom: 15px; }

.card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px; }

.card__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 100%;
  border: none; }

.card__footer {
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px; }

.card__specification {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: #444; }

.card--gray {
  display: block;
  text-align: center;
  padding-top: 80px;
  position: relative; }
  .card--gray::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    left: 50%;
    background-image: url(../img/vector/plus.svg);
    background-repeat: no-repeat;
    opacity: 0.2; }

.card__title--gray {
  margin: 0;
  width: 100%; }

.card__header {
  width: 140px;
  height: 144px; }

@media (min-width: 768px) {
  .card__title {
    font-size: 20px;
    width: 150px;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 120px; }
  .card__content {
    width: 100%; }
  .card {
    width: 325px;
    height: 430px;
    background-color: #f2f2f2;
    padding: 0 30px 45px;
    position: relative;
    margin-bottom: 140px; }
  .card__container {
    padding: 0; }
  .card__header {
    position: absolute;
    top: -50px;
    left: 100px; }
  .card__footer {
    margin: auto; } }
