@import "../../global/vars";

.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card__title {
  line-height: 20px;
  text-transform: uppercase;
  width: 84px;
  margin-bottom: 15px;
}

.card__header {
  width: 140px;
}

.card__content {
  width: 140px;
  min-height: 144px;
  margin-top: 25px;
}

.card__button {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 280px;
  border: none;
}

.card__specification {
  font-family: $arial;
  font-size: 12px;
  color: $darkgray;
}

.card--gray {
  display: block;
}

.card__title--gray {
  margin: 0;
  width: 100%;
}

.btn--default {
  margin-bottom: 35px;
  color: $darkgray;
  background-color: $grey;

  &:hover {
    background-color: $grey;
  }

  &:active {
    background-color: $grey;
    color: $darkgray;
  }
}
