@import "../../global/vars";

.table {
  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  color: $darkgray;
}

.table__value {
  width: 70px;
}

.table__field {
  text-align: right;
  width: 70px;
}
