.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.contacts__invitation {
  line-height: 20px;
  text-transform: uppercase; }

.contacts__address {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444; }

.contacts--gray {
  background-color: #f2f2f2; }

@media (min-width: 768px) {
  .contacts__invitation {
    width: 160px;
    padding-left: 35px;
    font-size: 20px;
    line-height: 25px; }
  .contacts__address {
    font-size: 16px;
    width: 190px;
    padding-right: 35px;
    text-align: right; } }

@media (min-width: 1300px) {
  .contacts {
    width: 470px;
    height: 200px;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    left: 110px;
    top: 100px; }
  .contacts__invitation,
  .contacts__address {
    width: 245px;
    text-align: left; } }
