.logo-main__link {
  margin-right: 15px; }
  .logo-main__link:hover {
    opacity: 0.8; }
  .logo-main__link:active {
    opacity: 0.6; }

.logo-title__link:hover {
  opacity: 0.8; }
  .logo-title__link:hover:active {
    opacity: 0.6; }

.logo-main__image {
  width: 33px;
  height: 38px; }

@media (min-width: 768px) {
  .logo-main__image {
    width: 173px;
    height: 59px; }
  .logo-title {
    display: none; } }

@media (min-width: 1300px) {
  .logo-main__image {
    width: 202px; } }
