.main-nav {
  margin: 0 auto;
  width: 100%;
  display: none; }

.main-nav--opened {
  display: block; }

@media (min-width: 768px) {
  .main-nav {
    display: inline-block; } }

@media (min-width: 1300px) {
  .main-nav {
    position: relative;
    z-index: 1; } }
