.page-footer__contacts {
  padding: 30px 20px; }

.page-footer__map {
  width: 100%; }

.page-footer__main {
  padding: 35px 20px; }

@media (min-width: 1300px) {
  .page-footer {
    background-color: #f2f2f2; }
  .page-footer__cont {
    position: relative;
    padding-left: 110px; } }
