@import "../../global/vars";
.contacts {
  display: flex;
  justify-content: space-between;
}

.contacts__invitation {
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  margin: 0;
  font-family: $arial;
  font-size: 14px;
  line-height: 20px;
  color: $darkgray;
}
