@import "../../global/vars";
.contacts {
  display: flex;
  justify-content: space-between;
}

.contacts__invitation {
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  margin: 0;
  font-family: $arial;
  font-size: 14px;
  line-height: 20px;
  color: $darkgray;
}

.contacts--gray {
  background-color: $grey;
}

@media (min-width: $tablet) {
  .contacts__invitation {
    width: 160px;
    padding-left: 35px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    font-size: 16px;
    width: 190px;
    padding-right: 35px;
    text-align: right;
  }
}
