.logo-main {
}

.logo-main__link {
  margin-right: 15px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo-title__link:hover {
  opacity: 0.8;

  &:active {
    opacity: 0.6;
  }
}
