@import "../../global/vars";
.main-nav {
  margin: 0 auto;
  width: 100%;
  display: none;
}

.main-nav--opened {
  display: block;
}

@media (min-width: $tablet) {
  .main-nav {
    display: inline-block;
  }
}
