.page-header {
  background-color: #ffffff;
  width: 320px;
  padding-top: 10px;
  padding-left: 20px; 
  padding-right: 20px;
}

.page-header__wrapper-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.page-header__logo {
  
}

.page-header__nav {
}

.page-header__main-nav {
  margin-left: 50px;
}

.page-header__wrapper-end {
  min-width: 360px;
  margin-left: -20px;
}

.page-header__button {
  margin-bottom: 25px;
}