@import "../../global/vars";
.page-header {
  background-color: $white;
}

.page-header__wrapper-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.page-header__toggle {
  position: relative;
}

.page-header__button {
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  z-index: 1;
}

@media (min-width: $tablet) {
  .page-header {
    position: relative;
  }

  .page-header__button {
    width: 245px;
    margin-left: 90px;
    position: absolute;
    top: 370px;
  }

  .page-header__wrapper-up {
    display: -webkit-box;
  }
}

@media (min-width: $desktop) {
  .page-header__wrapper-up {
    padding: 50px 110px 90px 110px;
    margin: 0;
  }

  .page-header__button {
    margin-left: 190px;
    top: 430px;
  }

  .page-header {
    max-width: 1300px;
  }
}
