@import "../../global/vars";
.page-header {
  background-color: $white;
}

.page-header__wrapper-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.page-header__logo {
}

.page-header__toggle {
  position: relative;
}

.page-header__main-nav {
  display: none;
}

.page-header__wrapper-end {
}

.page-header__button {
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
}
