.example__wrapper {
  background-color: #f2f2f2;
  padding: 35px 20px; }

.example__title {
  font-size: 36px;
  line-height: 60px;
  margin-bottom: 35px; }

.example__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444;
  margin-bottom: 25px; }

.example__expenses,
.example__money {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center; }

.example__expenses {
  margin-right: 10px; }

.example__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.example__list {
  margin-bottom: 40px; }

.example__sliders {
  position: relative;
  margin: auto;
  width: 320px;
  height: 240px; }

.example__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden; }

.example__slide img {
  max-width: inherit; }

.example__slide--after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 0;
  right: 0; }

@media (min-width: 768px) {
  .example__wrapper {
    background-color: #fff; }
  .example__controls {
    background-color: #f2f2f2;
    height: 460px;
    position: relative;
    margin-right: 10px;
    margin-left: 10px; }
  .example__title {
    font-size: 60px; }
  .example__description {
    font-size: 16px;
    line-height: 24px; }
  .example__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 170px; }
  .example__expenses,
  .example__money {
    text-align: right;
    font-size: 20px;
    margin-right: 0; }
  .example__sliders {
    width: 680px;
    height: 517px;
    position: absolute;
    top: -150px;
    left: 0;
    right: 0; }
  .example__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%; }
    .example__slide--after {
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
      .example__slide--after img {
        z-index: 1; }
  .example__slide img {
    width: 680px;
    height: 517px; }
  .example__amount {
    display: block; } }

@media (min-width: 1300px) {
  .example__wrapper {
    padding: 35px 110px 0; }
  .example__title {
    margin-bottom: 80px; }
  .example__advantages {
    padding: 75px 110px 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #f2f2f2;
    margin: 0 -110px; }
  .example__statistic {
    width: 570px;
    padding-right: 140px; }
  .example__picture {
    width: 610px; }
  .example__info {
    display: block;
    margin-bottom: 0; }
  .example__description {
    margin-bottom: 60px; }
  .example__list {
    margin: 0 70px 50px 0; }
  .example__expenses {
    text-align: left; }
  .example__amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 80px; }
  .example__sliders {
    top: -250px;
    width: 650px; }
  .example__controls {
    height: 350px; }
  .example__slide--before {
    width: 380px;
    left: -40px;
    padding-right: 40px; }
  .example__slide img {
    width: 690px; } }
