.program-opportunity {
  padding: 0 20px 20px; }

.program-opportunity__item {
  margin-bottom: 20px; }

@media (min-width: 1300px) {
  .program-opportunity {
    margin-top: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 110px 80px; } }
