.weight-gain {
  padding: 25px 35px 25px 20px;
  background-color: #f2f2f2;
  position: relative; }

.weight-gain__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-left: 25px; }

.weight-gain__description {
  margin: 40px 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px; }

.weight-gain__title--fat::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 42px;
  top: 37px;
  left: 15px;
  background-image: url("../img/vector/icon-cat-pro.svg");
  background-repeat: no-repeat; }
